<h2>Alerts</h2>
<div class="alert fade in">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Holy guacoamole!</strong>
  Looks like this alert works even with turbolinks!
</div>
