<h2>Turbolinks Twitter Bootstrap Test Modules</h2>
<p>This uses twitter-bootstrap-turbo gem: A clone of twitter-bootstrap-rails with added functionality to account for page:load events</p>

<ul>
  <li><%=link_to "Modal Test",bootstrap_modal_path%></li>
  <li><%=link_to "Alerts Test",bootstrap_alerts_path%></li>
  <li><%=link_to "Carousel Test",bootstrap_carousel_path%></li>
  <li><%=link_to "Collapse Test",bootstrap_collapse_path%></li>
</ul>

<h3>Other Examples</h3>

  <a href="#" class="btn btn-large btn-danger" rel="popover" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">Click to toggle popover</a>
